/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: https://www.linotype.com
*/

@font-face{
	font-family:"Nexa W04 Black1279255";
	src:url("/css/Fonts_n/1279255/0ce904a6-4a59-4602-9bf1-06a015d5bb26.eot?#iefix");
	src:url("/css/Fonts_n/1279255/0ce904a6-4a59-4602-9bf1-06a015d5bb26.eot?#iefix") format("eot"),url("/css/Fonts_n/1279255/62dbffde-cc2c-475f-bcc2-b4109e6cfd4c.woff2") format("woff2"),url("/css/Fonts_n/1279255/0c18a0d9-c085-40ff-a772-f95e15cf4095.woff") format("woff"),url("/css/Fonts_n/1279255/48585cba-c34f-4880-b5f5-a45012246941.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Black Italic1279261";
	src:url("/css/Fonts_n/1279261/6e3d3240-bda7-4fd9-b908-c1d4ccf9ebf2.eot?#iefix");
	src:url("/css/Fonts_n/1279261/6e3d3240-bda7-4fd9-b908-c1d4ccf9ebf2.eot?#iefix") format("eot"),url("/css/Fonts_n/1279261/e5aca17d-eb81-4cd2-aaeb-7f649b0ee200.woff2") format("woff2"),url("/css/Fonts_n/1279261/7f2a1a72-6e54-4a95-b937-79439f027620.woff") format("woff"),url("/css/Fonts_n/1279261/eae147de-2676-4a1a-ab90-e6c82dadda51.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Bold1279264";
	src:url("/css/Fonts_n/1279264/4112d278-c766-447e-82db-a373cae947ae.eot?#iefix");
	src:url("/css/Fonts_n/1279264/4112d278-c766-447e-82db-a373cae947ae.eot?#iefix") format("eot"),url("/css/Fonts_n/1279264/d1be9d43-f670-4889-bd62-760ac3232688.woff2") format("woff2"),url("/css/Fonts_n/1279264/164e44ab-0cdc-4122-8077-674a1358cf8c.woff") format("woff"),url("/css/Fonts_n/1279264/2282267c-f0dc-47dc-a9fd-044b441c6b39.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Bold Italic1279267";
	src:url("/css/Fonts_n/1279267/51bd8073-2712-4861-9eb4-6be3fc598836.eot?#iefix");
	src:url("/css/Fonts_n/1279267/51bd8073-2712-4861-9eb4-6be3fc598836.eot?#iefix") format("eot"),url("/css/Fonts_n/1279267/e5a787cc-2e26-4f2c-85a1-d37efc1a2637.woff2") format("woff2"),url("/css/Fonts_n/1279267/409bc5f0-6c19-46c6-b43a-3ff86fce6429.woff") format("woff"),url("/css/Fonts_n/1279267/c924ff6f-5a44-42e1-b77b-0ca5313b34e6.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Book1279270";
	src:url("/css/Fonts_n/1279270/53ab90f6-7683-41a6-928a-7e7dd18f7e4e.eot?#iefix");
	src:url("/css/Fonts_n/1279270/53ab90f6-7683-41a6-928a-7e7dd18f7e4e.eot?#iefix") format("eot"),url("/css/Fonts_n/1279270/a2f3c35a-5bc3-4a54-8a4a-006e0cb9a381.woff2") format("woff2"),url("/css/Fonts_n/1279270/27373b7d-c38b-471d-99ca-a4de98412073.woff") format("woff"),url("/css/Fonts_n/1279270/d4d9fbf1-2306-456f-b514-1ac216d601a1.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Book Italic1279273";
	src:url("/css/Fonts_n/1279273/618f4b5d-b70a-4a45-bb26-8966440ec5fa.eot?#iefix");
	src:url("/css/Fonts_n/1279273/618f4b5d-b70a-4a45-bb26-8966440ec5fa.eot?#iefix") format("eot"),url("/css/Fonts_n/1279273/bd4eafd1-bb89-4c77-8eb5-fac026188d3f.woff2") format("woff2"),url("/css/Fonts_n/1279273/fd848310-299b-4d43-9d22-15ed006cdbee.woff") format("woff"),url("/css/Fonts_n/1279273/bad25606-1168-4429-8d55-688350126439.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Heavy1279276";
	src:url("/css/Fonts_n/1279276/447e8198-0ac1-4287-ba2b-d63678378e37.eot?#iefix");
	src:url("/css/Fonts_n/1279276/447e8198-0ac1-4287-ba2b-d63678378e37.eot?#iefix") format("eot"),url("/css/Fonts_n/1279276/e08ab50d-f822-42f4-9d33-a0a1fad08d2d.woff2") format("woff2"),url("/css/Fonts_n/1279276/1914b2d7-de7a-4879-8740-da3f6c79cd81.woff") format("woff"),url("/css/Fonts_n/1279276/243ca121-30dc-43e3-abb9-2b2991d96721.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Heavy Italic1279281";
	src:url("/css/Fonts_n/1279281/56259bb6-502c-4c92-8cc8-14ea849dcdd5.eot?#iefix");
	src:url("/css/Fonts_n/1279281/56259bb6-502c-4c92-8cc8-14ea849dcdd5.eot?#iefix") format("eot"),url("/css/Fonts_n/1279281/538c669b-6c40-4079-8cef-84398e98cc9b.woff2") format("woff2"),url("/css/Fonts_n/1279281/966ba794-dd16-47c7-9e82-63da054a26ca.woff") format("woff"),url("/css/Fonts_n/1279281/359dc651-5014-4e06-85ee-ee623c42b105.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Light1279284";
	src:url("/css/Fonts_n/1279284/1a3362c8-030e-498b-9aa2-682bca2f03c6.eot?#iefix");
	src:url("/css/Fonts_n/1279284/1a3362c8-030e-498b-9aa2-682bca2f03c6.eot?#iefix") format("eot"),url("/css/Fonts_n/1279284/54dc2c0e-74ac-4648-a076-904a6ff0921c.woff2") format("woff2"),url("/css/Fonts_n/1279284/834de728-bab0-4ef9-acfb-5a3da563d625.woff") format("woff"),url("/css/Fonts_n/1279284/0c84d411-3d61-4a9b-a128-7a623ebea0ac.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Light Italic1279287";
	src:url("/css/Fonts_n/1279287/27f21f63-9a1e-4e74-9e0a-4112ca1e1fde.eot?#iefix");
	src:url("/css/Fonts_n/1279287/27f21f63-9a1e-4e74-9e0a-4112ca1e1fde.eot?#iefix") format("eot"),url("/css/Fonts_n/1279287/83ecb753-5f3d-43bf-9d40-3222cf9123c7.woff2") format("woff2"),url("/css/Fonts_n/1279287/460e7de8-e7ce-4f5b-b011-61fec3775366.woff") format("woff"),url("/css/Fonts_n/1279287/2445b60d-8ce0-4e3a-8127-325039aaa4d8.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04";
	src:url("/css/Fonts_n/1279290/06727d37-7c85-4caa-ab18-fdaea97d11a9.eot?#iefix");
	src:url("/css/Fonts_n/1279290/06727d37-7c85-4caa-ab18-fdaea97d11a9.eot?#iefix") format("eot"),url("/css/Fonts_n/1279290/9b9f0e33-9d84-4474-85d5-07a0a5c00bae.woff2") format("woff2"),url("/css/Fonts_n/1279290/8d2052bf-185a-4419-b3e8-02fdd2034fb3.woff") format("woff"),url("/css/Fonts_n/1279290/d40c047d-1a56-424f-9c3a-1fdddcf28eb1.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Regular Italic1279293";
	src:url("/css/Fonts_n/1279293/ebec226c-3204-4f83-81c6-2865c42ec307.eot?#iefix");
	src:url("/css/Fonts_n/1279293/ebec226c-3204-4f83-81c6-2865c42ec307.eot?#iefix") format("eot"),url("/css/Fonts_n/1279293/931e2109-a55d-4122-bc1e-385ba7fb2276.woff2") format("woff2"),url("/css/Fonts_n/1279293/dacd31f2-72a7-45ad-8798-6c7e279445ac.woff") format("woff"),url("/css/Fonts_n/1279293/6b192fdf-f9ee-4f5c-b4e0-2a68b16ceeca.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Thin1279296";
	src:url("/css/Fonts_n/1279296/dea17b22-2515-40b9-8738-84a7a1d83810.eot?#iefix");
	src:url("/css/Fonts_n/1279296/dea17b22-2515-40b9-8738-84a7a1d83810.eot?#iefix") format("eot"),url("/css/Fonts_n/1279296/726c41f1-0b76-431a-9097-47ea27589c26.woff2") format("woff2"),url("/css/Fonts_n/1279296/adf84e8e-2735-46ce-a427-3edf67d735f6.woff") format("woff"),url("/css/Fonts_n/1279296/65aa8b0b-e95d-4fc3-854f-aa67210b4656.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 Thin Italic1279299";
	src:url("/css/Fonts_n/1279299/52d82587-9080-400c-a208-13416fffda42.eot?#iefix");
	src:url("/css/Fonts_n/1279299/52d82587-9080-400c-a208-13416fffda42.eot?#iefix") format("eot"),url("/css/Fonts_n/1279299/3d371936-d41a-441d-98d6-34cba77503f3.woff2") format("woff2"),url("/css/Fonts_n/1279299/ab93957c-bce7-4583-88c6-483c2a1d2393.woff") format("woff"),url("/css/Fonts_n/1279299/a113ca33-c912-4c38-a6e7-1b92d6f8d676.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 XBold1279302";
	src:url("/css/Fonts_n/1279302/177c7ab0-ab5d-45de-89ac-be8026f5632d.eot?#iefix");
	src:url("/css/Fonts_n/1279302/177c7ab0-ab5d-45de-89ac-be8026f5632d.eot?#iefix") format("eot"),url("/css/Fonts_n/1279302/3d7b048e-9cf6-466f-8a21-78bbbb1e330c.woff2") format("woff2"),url("/css/Fonts_n/1279302/160a9bc2-17c5-42dc-8df6-5e006d53a10a.woff") format("woff"),url("/css/Fonts_n/1279302/cf2946ac-4eb8-4d04-a761-5a826cc28a26.ttf") format("truetype");
}
@font-face{
	font-family:"Nexa W04 XBold Italic1279305";
	src:url("/css/Fonts_n/1279305/daed0f30-cfca-402a-8444-2ff969f6b9da.eot?#iefix");
	src:url("/css/Fonts_n/1279305/daed0f30-cfca-402a-8444-2ff969f6b9da.eot?#iefix") format("eot"),url("/css/Fonts_n/1279305/2c0e8170-f1a6-42e1-8c2a-1fb20db49998.woff2") format("woff2"),url("/css/Fonts_n/1279305/f1efcbec-19f1-4963-8a6e-558ba217c617.woff") format("woff"),url("/css/Fonts_n/1279305/9ae916a9-18a1-451a-8a1c-4239ab11d823.ttf") format("truetype");
}