@font-face {
  font-family: 'Daniel-Font';
  src: url('../fonts/daniel-webfont.eot');
  src: url('../fonts/daniel-webfont.eot?iefix') format('eot'), url('../fonts/daniel-webfont.woff') format('woff'), url('../fonts/daniel-webfont.ttf') format('truetype'), url('../fonts/daniel-webfont.svg#webfont') format('svg');
}
strong {
  /*font-family: "Nexa W04 Bold1279264";*/
  font-family: "Nexa W04 XBold1279302";
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: "Nexa W04", Nexa, Helvetica, Arial, sans-serif;
  font-size: 25px;
}
body {
  -webkit-text-size-adjust: 100%;
}
.content-wrapper {
  width: 990px;
  margin: 0 auto;
  /*
	.sellstatus0, .sellstatus1, .sellstatus2, .sellstatus3, .sellstatus4, .sellstatus5, .sellstatus6, .sellstatus7, .sellstatus8 {
		margin-left: 0px;
	}
	*/
}
.content-wrapper h1,
.content-wrapper h2,
.content-wrapper h3,
.content-wrapper h4,
.content-wrapper p {
  max-width: 990px;
  margin-left: 20px;
}
.content-wrapper a {
  color: #d21a1a;
  text-decoration: none;
  outline: none;
}
.bottom-div {
  clear: both;
  height: 25px;
}
.printPage {
  width: 100%;
  height: 18px;
  margin-top: -20px;
  padding-bottom: 28px;
}
.printPage a,
.printPage span.buy-cards {
  float: right;
}
.printPage .buy-cards {
  font-size: 18px !important;
  /* padding-right: 48px !important; */
  background-size: 42px !important;
  margin-right: 25px !important;
}
.printPage img {
  width: 22px;
}
.printPage .statusInfo {
  margin-right: 15px !important;
}
.printPage .tooltip {
  position: relative;
  top: 3px;
}
.printPage .ics-calendar {
  margin-left: 15px;
}
.printPage .restriction,
p .buy-cards .restriction {
  float: none;
  position: relative;
}
.printPage .statusInfo .restriction {
  margin-right: 35px;
  top: 5px;
}
.printPage .restriction img,
p .restriction img,
.weitereTermineWrapper .restriction img {
  position: relative;
  width: inherit;
  max-height: 30px !important;
  margin-right: 5px !important;
  bottom: 2px;
  float: left;
}
.statusInfo .restriction img {
  position: relative;
  top: 7px;
  margin-right: 5px !important;
}
.restriction img {
  max-height: 30px !important;
}
.printPage .restriction img {
  display: block !important;
  margin-top: -7px !important;
  position: absolute !important;
}
.weitereTermineWrapper .restriction img {
  height: 25px;
  top: 2px;
}
.spielplan-date .restriction img {
  top: 7px;
}
#moreInfo {
  font-size: 22px;
  line-height: 35px;
  margin: 30px 0 0 20px;
}
.printPage .sellstatus,
.printPage .sellstatus0,
.printPage .sellstatus1,
.printPage .sellstatus2,
.printPage .sellstatus3,
.printPage .sellstatus4,
.printPage .sellstatus5,
.printPage .sellstatus6,
.printPage .sellstatus7,
.printPage .sellstatus8,
.printPage .sellstatus9,
.printPage .sellstatus10,
.printPage .sellstatus11,
.printPage .sellstatus12,
.printPage .sellstatus13,
.printPage .sellstatus14,
.printPage .sellstatus15,
.printPage .sellstatus16 {
  font-size: 18px;
  float: right;
  margin-right: 25px;
}
.spielplan-event .sellstatus,
.spielplan-event .sellstatus0,
.spielplan-event .sellstatus1,
.spielplan-event .sellstatus2,
.spielplan-event .sellstatus3,
.spielplan-event .sellstatus4,
.spielplan-event .sellstatus5,
.spielplan-event .sellstatus6,
.spielplan-event .sellstatus7,
.spielplan-event .sellstatus8,
.spielplan-event .sellstatus9,
.spielplan-event .sellstatus10,
.spielplan-event .sellstatus11,
.spielplan-event .sellstatus12,
.spielplan-event .sellstatus13,
.spielplan-event .sellstatus14,
.spielplan-event .sellstatus15,
.spielplan-event .sellstatus16 {
  position: absolute;
  top: 10px;
  right: 0;
  padding-top: 5px;
  font-size: 25px;
  overflow: hidden;
}
.spielplan-event .sellstatus {
  font-size: 22px !important;
}
.spielplan-event .sellstatus14 {
  font-size: 18px;
}
.spielplan-event .sellstatus15 {
  background: #ccc49a;
  top: 30px;
  transform: rotate(45deg);
  width: 200px;
  right: -74px;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  padding: 5px 0;
}
.tabelle {
  width: 100% !important;
  height: auto !important;
  font-size: 22px;
  line-height: 34px;
  margin-left: 20px;
}
@media (max-width: 720px) {
  .tabelle {
    max-width: 450px;
  }
}
.weitereTermineWrapper ul .buy-cards,
.weitereTermineWrapper ul .sellstatus,
.weitereTermineWrapper ul .sellstatus0,
.weitereTermineWrapper ul .sellstatus1,
.weitereTermineWrapper ul .sellstatus2,
.weitereTermineWrapper ul .sellstatus3,
.weitereTermineWrapper ul .sellstatus4,
.weitereTermineWrapper ul .sellstatus5,
.weitereTermineWrapper ul .sellstatus6,
.weitereTermineWrapper ul .sellstatus7,
.weitereTermineWrapper ul .sellstatus8,
.weitereTermineWrapper ul .sellstatus9,
.weitereTermineWrapper ul .sellstatus10,
.weitereTermineWrapper ul .sellstatus11,
.weitereTermineWrapper ul .sellstatus12,
.weitereTermineWrapper ul .sellstatus13,
.weitereTermineWrapper ul .sellstatus14,
.weitereTermineWrapper ul .sellstatus15,
.weitereTermineWrapper ul .sellstatus16 {
  float: left;
}
@media (max-width: 720px) {
  .weitereTermineWrapper ul .buy-cards,
  .weitereTermineWrapper ul .sellstatus,
  .weitereTermineWrapper ul .sellstatus0,
  .weitereTermineWrapper ul .sellstatus1,
  .weitereTermineWrapper ul .sellstatus2,
  .weitereTermineWrapper ul .sellstatus3,
  .weitereTermineWrapper ul .sellstatus4,
  .weitereTermineWrapper ul .sellstatus5,
  .weitereTermineWrapper ul .sellstatus6,
  .weitereTermineWrapper ul .sellstatus7,
  .weitereTermineWrapper ul .sellstatus8,
  .weitereTermineWrapper ul .sellstatus9,
  .weitereTermineWrapper ul .sellstatus10,
  .weitereTermineWrapper ul .sellstatus11,
  .weitereTermineWrapper ul .sellstatus12,
  .weitereTermineWrapper ul .sellstatus13,
  .weitereTermineWrapper ul .sellstatus14,
  .weitereTermineWrapper ul .sellstatus15,
  .weitereTermineWrapper ul .sellstatus16 {
    margin-left: 0;
  }
}
.weitereTermineWrapper ul .buy-cards,
.weitereTermineWrapper ul .sellstatus,
.weitereTermineWrapper ul .sellstatus0,
.weitereTermineWrapper ul .sellstatus1,
.weitereTermineWrapper ul .sellstatus2,
.weitereTermineWrapper ul .sellstatus3,
.weitereTermineWrapper ul .sellstatus4,
.weitereTermineWrapper ul .sellstatus5,
.weitereTermineWrapper ul .sellstatus6,
.weitereTermineWrapper ul .sellstatus7,
.weitereTermineWrapper ul .sellstatus8,
.weitereTermineWrapper ul .sellstatus9,
.weitereTermineWrapper ul .sellstatus10,
.weitereTermineWrapper ul .sellstatus11,
.weitereTermineWrapper ul .sellstatus12,
.weitereTermineWrapper ul .sellstatus13,
.weitereTermineWrapper ul .sellstatus14,
.weitereTermineWrapper ul .sellstatus15,
.weitereTermineWrapper ul .sellstatus16 {
  margin-left: 20px;
}
.weitereTermineWrapper ul li {
  width: 51%;
  float: left;
}
@media (max-width: 990px) {
  .weitereTermineWrapper ul li {
    width: 60%;
  }
}
@media (max-width: 720px) {
  .weitereTermineWrapper ul li {
    width: 100%;
  }
}
.weitereTermineWrapper.withSubheadline ul {
  /*		margin-left: 20px;
		list-style: none !important;*/
}
.weitereTermineWrapper.withSubheadline ul li {
  width: 95% !important;
}
.weitereTermineWrapper.withSubheadline ul li a {
  float: left;
  margin-right: 10px;
}
.weitereTermineWrapper.withSubheadline ul li > span:first-of-type {
  font-size: 14px;
}
.weitereTermineWrapper.withSubheadline ul li > span:last-of-type {
  float: right;
  font-size: 16px;
}
.weitereTermineWrapper.withSubheadline ul li > span {
  /*line-height: 1.5;*/
  font-size: 16px;
}
@media (max-width: 990px) {
  .weitereTermineWrapper.withSubheadline ul li > span:first-of-type {
    float: left;
    clear: both;
  }
}
@media (max-width: 720px) {
  .weitereTermineWrapper.withSubheadline ul li > span {
    float: left !important;
    clear: both;
  }
  .weitereTermineWrapper.withSubheadline ul li > span:first-of-type {
    margin-bottom: 0;
  }
  .weitereTermineWrapper.withSubheadline ul li > span:last-of-type {
    margin-bottom: 16px;
  }
}
.calendar-printmonth {
  position: absolute;
  right: 0;
  font-size: 11px;
  background: url("/img/print.png") no-repeat right center;
  background-size: 22px;
  height: 22px;
  padding-top: 10px;
  padding-right: 30px;
}
h1 {
  font-size: 45px;
  line-height: 63px;
  font-family: "Nexa W04 Light1279284";
  margin-bottom: 52px;
  margin-top: 52px;
}
h2 {
  font-size: 35px;
  margin-bottom: 33px;
  clear: both;
  line-height: 1.4;
}
h2 p {
  margin-left: 0 !important;
}
h3 {
  font-size: 35px;
  font-family: "Nexa W04 Light1279284";
  line-height: 1.2;
  margin-bottom: 15px;
}
h4 {
  font-size: 45px;
  font-family: "Nexa W04 Light1279284";
  margin-bottom: 52px;
}
p {
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 35px;
}
.content-wrapper ul,
.content-wrapper ol {
  margin-left: 70px;
  line-height: 35px;
  font-size: 22px;
  margin-bottom: 35px;
  list-style: disc;
}
ul.philDetailTexts {
  list-style: none;
  margin-left: 20px !important;
  margin-bottom: 25px;
  line-height: 1.6 !important;
}
ul.philDetailTexts li {
  margin-bottom: 0;
  font-family: "Nexa W04 Bold1279264";
}
.philDetailTexts {
  margin-bottom: 25px;
  line-height: 1.6 !important;
  font-size: 22px;
  display: block;
}
.philDetailTexts p {
  margin-bottom: 0px;
  font-family: "Nexa W04 Bold1279264";
}
.philhDetailH2 {
  margin-bottom: 10px;
}
.philhDetailH3 {
  margin-bottom: 25px;
}
.philDetailSubtitle {
  font-size: 22px;
}
.text-left {
  float: left;
  width: 450px;
  min-height: 356px;
}
.img-right {
  max-width: 450px;
  height: auto;
  float: right;
}
.img-title-right {
  float: right;
}
.text-right {
  float: right;
  width: 450px;
  min-height: 356px;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 35px;
}
.img-left {
  max-width: 450px;
  height: auto;
  float: left;
}
.img-title-left {
  float: left;
  margin-left: 0 !important;
}
.img-title {
  width: 450px;
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}
.text-text {
  width: 465px;
  float: left;
}
.text-text:first-child {
  margin-right: 60px;
}
hr,
.WEeditHr {
  width: 100%;
  height: 1px;
  border: 0;
  margin: 50px 0 30px 0;
  background: #ccc49a;
}
.WEeditHr {
  background: #dddddd;
}
.contenthr {
  background: #000;
  clear: both;
}
.arrow_box {
  position: relative;
  background: #fff;
  border-bottom: 3px solid #d21a1a;
  margin-bottom: 50px;
  top: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.arrow_box:after,
.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}
.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}
.arrow_box:before {
  border-color: rgba(199, 42, 61, 0);
  border-top-color: #d21a1a;
  border-width: 24px;
  margin-left: -24px;
}
#search-overlay {
  display: none;
  position: absolute;
  margin-top: 212px;
  padding-top: 200px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d21a1a;
  z-index: 99999;
  text-align: center;
  color: #fff;
}
#search-overlay p {
  font-size: 40px;
  line-height: 60px;
  max-width: 100%;
}
#search-overlay img {
  width: 40px;
  position: absolute;
  top: 40px;
  right: 40px;
}
#search-overlay img:hover {
  cursor: pointer;
}
.search-icon img {
  margin-top: 7px;
}
.searchInput {
  width: 90%;
  font-size: 40px;
  font-family: "Nexa W04";
  background: #d21a1a;
  border: none;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.searchInput:focus {
  outline-width: 0;
}
#section {
  width: 100%;
  height: 120px;
  padding-top: 23px;
}
#section-staatsoper,
#section-ballett,
#section-staatsorchester {
  float: left;
  opacity: 0.5;
}
.section-active,
.section-mouseover {
  opacity: 1 !important;
}
#section-staatsoper {
  width: 143px !important;
}
#section-ballett {
  margin-left: 200px;
  width: 213px !important;
}
#section-staatsorchester {
  float: right;
  width: 232px !important;
}
nav {
  width: 100%;
}
nav ul {
  margin-top: 0;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
nav ul li {
  display: inline-block;
  margin: 18px 0 18px 0;
}
nav ul li a {
  margin: 18px 68px 18px 0;
  color: #000 !important;
  text-decoration: none;
  font-size: 28px;
}
nav ul li a:hover {
  color: #7e7e7e !important;
}
nav ul li a img {
  width: 26px;
  position: absolute;
}
nav ul li.language-toggle {
  float: right;
}
nav ul li:last-of-type a {
  margin: 18px 0 18px 4px !important;
}
div.stopernav {
  display: table;
  width: 100%;
  margin: 20px 0;
}
div.stopernav ul {
  display: table-row;
}
div.stopernav ul li {
  display: table-cell;
  width: 1px;
  float: none;
  white-space: nowrap;
}
div.stopernav ul li a {
  margin: 0 78px 0 0;
}
div.stopernav ul li.search-icon-wrap,
div.stopernav ul li.language-toggle {
  text-align: right;
}
div.stopernav ul li.search-icon-wrap a,
div.stopernav ul li.language-toggle a {
  width: 70px;
  max-width: 70px;
}
div.stopernav ul li.search-icon-wrap {
  width: auto !important;
}
div.stopernav ul li.search-icon-wrap a {
  margin: 18px 70px 18px 0;
}
#lang {
  margin: 18px 0 18px 0;
}
.active a {
  color: #7e7e7e !important;
}
.extNavLink {
  font-family: "Daniel-Font";
  background: url("/img/blog-logo.svg") no-repeat left center;
  background-size: 60px;
  color: rgba(0, 0, 0, 0) !important;
  display: inline-block;
  margin: 0px 87px 0px 0;
}
.active a.extNavLink {
  color: rgba(0, 0, 0, 0) !important;
}
.extNavLink:hover {
  color: rgba(0, 0, 0, 0) !important;
}
nav #mobile-nav {
  display: none;
}
nav #mobile-nav .search-icon img,
nav #mobile-nav .trigger-mobile-menu img {
  width: 53px;
  height: 53px;
}
#subnav {
  width: 100%;
  margin-top: 0px;
  font-size: 30px;
  background: #ccc49a;
  font-size: 22px;
}
#subnav ul {
  width: 990px;
  margin: auto;
}
#subnav li {
  display: inline-block;
  margin: 18px 0 18px 0;
}
#subnav li a {
  margin: 18px 30px 18px 0;
  color: #fff;
  text-decoration: none;
}
#subnav li a:hover {
  color: #7e7e7e;
}
#subnav li .subnav-active {
  color: #7e7e7e;
}
#page-nav {
  font-size: 25px;
  border-bottom: 3px solid #ccc49a;
  margin-bottom: 70px;
  margin-left: 0 !important;
}
#page-nav li {
  display: inline-block;
  margin: 18px 0 28px 0;
}
#page-nav li a {
  position: relative;
  margin: 18px 15px 18px 0;
  color: #000;
  text-decoration: none;
  font-size: 22px;
  /* changed from 23px to 22px to fit english menu "People > Directorate" */
}
#page-nav li a:hover {
  color: #7e7e7e;
}
#page-nav li:last-of-type a {
  margin: 18px 0 18px 0;
}
#page-nav li.active a:after {
  content: " ";
  position: absolute;
  left: 50%;
  margin-left: -24px;
  width: 0;
  height: 0;
  border: 24px solid transparent;
  border-bottom: 24px solid #fff;
  bottom: -37px;
}
#page-nav li.active a:before {
  content: " ";
  position: absolute;
  left: 50%;
  margin-left: -24px;
  width: 0;
  height: 0;
  border: 24px solid transparent;
  border-bottom: 24px solid #ccc49a;
  bottom: -33px;
}
#programm-nav {
  /*
	 * TODO:
	 * Negative top margin was required to adjust space above the navigation.
	 * Not sure, if this was changed thinking "#programm-nav" would actually
	 * refer to only the "schedule" area of the site, which is not the case.
     * This has to be fixed, to remove the now present additional whitespace
	 * on elements outside of the "event overview" area.
	 * -- 2015-10-01 Muffy
	 */
  font-size: 30px;
  margin-bottom: 15px;
  margin-left: 0 !important;
  position: relative;
}
#programm-nav li {
  display: inline-block;
  margin: 18px 0 18px 0;
}
#programm-nav li a {
  margin: 18px 243px 18px 0;
  color: #000;
  text-decoration: none;
}
#programm-nav li a:hover {
  opacity: 0.5;
}
#programm-nav li:nth-of-type(2) a {
  margin: 18px 0 18px 0;
}
#programm-nav li:last-of-type a {
  margin: 18px 0 18px 290px;
}
#programm-nav li:first-of-type a {
  margin: 18px 310px 18px 0 !important;
}
#programm-nav li:last-of-type {
  position: absolute;
  right: 0;
}
/* englisch navigation fix */
html[lang=en] #programm-nav li:first-of-type a {
  margin-right: 350px !important;
}
#programm-mobile-nav,
#programm-mobile-nav-list,
#sub-mobile-nav,
#sub-mobile-nav-list {
  display: none;
}
.programm-details-arrow_box,
.programm-besetzung-arrow_box,
.programm-weiteres-arrow_box {
  position: relative;
  background: #ffffff;
  border-top: 3px solid #cdcba5;
  margin-bottom: 40px;
}
.programm-details-arrow_box:before,
.programm-besetzung-arrow_box:before,
.programm-weiteres-arrow_box:before,
.programm-details-arrow_box:after,
.programm-besetzung-arrow_box:after,
.programm-weiteres-arrow_box:after {
  bottom: 100%;
  left: 5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}
.programm-details-arrow_box:before,
.programm-besetzung-arrow_box:before,
.programm-weiteres-arrow_box:before {
  border-color: rgba(205, 203, 165, 0);
  border-bottom-color: #cdcba5;
  border-width: 24px;
  margin-left: -24px;
}
.programm-details-arrow_box:after,
.programm-besetzung-arrow_box:after,
.programm-weiteres-arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 20px;
  margin-left: -20px;
}
.programm-weiteres-arrow_box:after,
.programm-weiteres-arrow_box:before {
  left: 94%;
}
.programm-besetzung-arrow_box:after,
.programm-besetzung-arrow_box:before {
  left: 50%;
}
.weitereTermineZr {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}
header {
  width: 100%;
  height: 457px;
  background: #d21a1a;
  text-align: center;
  margin-bottom: 20px;
}
header #header-slider {
  width: 990px;
  margin: 0 auto;
  position: relative;
  /*
		 * Next/Prev arrows of flexslider
		 */
}
header #header-slider > a:first-of-type img,
header #header-slider > a:last-of-type img {
  position: absolute;
  height: 457px;
}
@media (max-width: 1158px) {
  header #header-slider > a:first-of-type img,
  header #header-slider > a:last-of-type img {
    display: none;
  }
}
header #header-slider img {
  float: left;
}
header #header-slider a {
  color: #000;
}
header #header-slider ul li {
  max-height: 457px;
  overflow: hidden;
}
header #header-slider .flexslider span.slider-caption-more img {
  position: absolute;
  height: 22px !important;
  width: 22px !important;
  right: -32px;
  bottom: 18px;
}
header #header-slider .flexslider span.slider-caption-more {
  color: #000;
  outline: none;
  text-decoration: none;
  position: absolute;
  right: 60px;
  bottom: -8px;
  height: 38px;
  font-size: 18px;
  text-align: right;
}
header #header-slider .flex-direction-nav {
  display: none !important;
}
.smallHeader {
  width: 100%;
  height: 20px;
}
#html5video:hover {
  cursor: pointer;
}
#html5video img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}
.eventAgeInfo {
  font-size: 22px;
  max-width: 990px;
  margin-left: 20px;
  display: block;
  margin-bottom: 35px;
  margin-top: -20px;
  font-family: "Nexa W04 Light1279284";
}
@media (max-width: 720px) {
  .content-wrapper .eventAgeInfo {
    font-size: 17px;
  }
  #html5video img {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
  }
}
#html5video {
  width: 100%;
  height: 100%;
  max-width: 990px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}
#html5video video {
  height: 100%;
  width: 100%;
}
@supports (-ms-ime-align:auto) {
  #html5video video {
    height: 101% !important;
  }
}
@media (max-width: 990px) {
  #html5video {
    max-width: 720px;
  }
}
@media (max-width: 720px) {
  #html5video {
    max-width: 480px;
  }
}
@media (max-width: 720px) {
  #html5video {
    max-width: 480px;
  }
}
@media (max-width: 479px) {
  /* To remove the 4px yellow line below the iframe*/
  #html5video {
    height: 150px;
  }
}
#header-map {
  width: 990px;
  height: 458px;
  border: 0;
}
#no-header-img {
  height: 0;
  border-bottom: 15px solid #d21a1a;
}
.slider-arrow.slider-arrow-left {
  left: -84px;
  right: -84px;
}
.slider-caption {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  text-align: left;
  width: 500px;
  padding: 25px 15px 25px 20px;
  bottom: 0;
  left: 0;
}
.slider-caption p {
  max-width: 100%;
  margin-right: 1rem;
  margin: 0;
}
.slider-caption img {
  float: right !important;
  width: auto !important;
}
.slider-caption a img {
  display: block !important;
}
.slider-caption-artist {
  font-size: 22px;
  line-height: 32px;
}
.slider-caption-title {
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 5px !important;
}
.slider-caption-description {
  font-size: 18px;
  line-height: 26px;
  overflow: hidden;
  height: 56px;
}
#spielplan-header {
  height: auto;
  padding: 70px 0 60px 0;
  color: #fff;
}
#filter-title,
#filter-title-2 {
  width: auto;
  height: 40px;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  line-height: 40px;
  font-size: 0;
  /* inline-block whitespace */
}
#filter-title:hover,
#filter-title-2:hover {
  cursor: pointer;
}
#filter-title p,
#filter-title-2 p {
  font-size: 30px;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  top: -5px;
}
#filter-title img,
#filter-title-2 img {
  width: 34px;
}
.filter-icon {
  display: inline-block;
  margin-right: 15px;
}
#filter-title-2 {
  display: none;
}
#filter-options {
  display: none;
  margin-top: 30px;
}
#filter-options ul {
  list-style: none;
  margin-left: 0;
}
.filter-select-box {
  position: relative;
  width: 100%;
  min-height: 65px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #000;
  padding: 15px;
  margin-bottom: 15px;
  float: left;
  color: #000;
  text-align: left;
}
.filter-select-box p {
  max-width: 95%;
  width: auto !important;
  font-size: 30px !important;
  float: none !important;
  margin: 0 !important;
  font-family: "Nexa W04 Bold1279264";
}
.filter-select-box img {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 15px;
  right: 15px;
}
.filter-select-box:hover {
  cursor: pointer;
}
.filter-select-box .filter-select-list {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #000;
  position: absolute;
  background: #fff;
  z-index: 9999 !important;
  margin-left: -15px;
  padding: 15px;
  margin-top: 15px;
  max-height: 370px;
  overflow-y: auto;
}
.filter-select-box .filter-select-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter-select-box .filter-select-list ul li:hover {
  opacity: 0.5;
  cursor: pointer;
}
.filter-select-box .filter-select-list:hover {
  cursor: auto;
}
header .filter-select-box {
  border: 0;
}
.label_performance,
.label_event {
  width: 30%;
  float: left;
}
.select_performance,
.select_event {
  width: 70%;
  float: left;
}
.filter-select {
  position: relative;
  width: 369px;
  min-height: 28px;
  padding: 13px;
  background: #fff;
  float: left;
  margin: 40px;
}
.filter-select:hover {
  cursor: pointer;
}
.filter-select p {
  float: left;
  color: #000;
  font-family: "Nexa W04 Bold1279264";
  font-size: 28px;
  margin: 0;
  padding: 6px 0;
  max-width: 315px;
  text-align: left;
}
.filter-select img {
  position: absolute;
  right: 12px;
  top: 12px;
  margin-left: 12px;
}
.select-list-1,
.select-list-2,
.select-list-3,
.select-list-4 {
  display: none;
  position: absolute;
  width: 357px;
  border: 1px solid #ccc49a;
  padding: 18px;
  background: #fff;
  color: #000;
  text-align: left;
  font-size: 28px;
  line-height: 45px;
  font-family: "Nexa W04 Bold1279264";
  margin-left: -13px;
  margin-top: 60px;
  cursor: default;
  z-index: 99999;
}
.select-list-1 ul li:hover,
.select-list-2 ul li:hover,
.select-list-3 ul li:hover,
.select-list-4 ul li:hover {
  cursor: pointer;
  opacity: 0.5;
}
.filter-select-selected {
  display: block;
  border: 1px solid #ccc49a;
  padding: 0 10px;
  margin: 5px;
  float: left;
}
.filter-select-selected p {
  padding: 0;
  margin: 0;
}
.filter-select-selected img {
  position: static !important;
  float: right;
  margin: 8px 0px 0px 12px !important;
}
.img-big {
  max-width: 990px;
  margin: 45px 0 45px 20px;
}
.eventTitleAge {
  margin-bottom: 0px;
}
a.gallery-arrow-left,
a.gallery-arrow-right {
  position: absolute;
  top: 220px;
  -height: 300px;
}
a.gallery-arrow-left {
  left: -40px;
}
a.gallery-arrow-right {
  position: absolute;
  top: 220px;
  right: -40px !important;
}
.gallery {
  width: 990px;
  margin: auto;
  margin-bottom: 45px;
  /*
	a:first-of-type img, a:last-of-type img {
		height: 300px;
		@media (max-width: 1070px) {
				display: none;
			}
	}
	a:last-of-type {
		right: -40px !important;
	}
	*/
}
.gallery a {
  float: left;
}
.gallery h4 {
  margin-left: 20px;
}
.gallery .lightbox-gallery {
  margin-left: -15px;
  transition: margin 0.5s ease;
  height: 299px;
  overflow: hidden;
  /*
		a .img-gallery-center {
		
		}
		*/
}
.gallery .lightbox-gallery img {
  height: auto !important;
  max-width: 320px;
  margin: 0px;
  margin-left: 15px;
  display: block !important;
}
.gallery .lightbox-gallery a:first-of-type img,
.gallery .lightbox-gallery a:last-of-type img {
  height: 300px;
}
@media (max-width: 1070px) {
  .gallery .lightbox-gallery a:first-of-type img,
  .gallery .lightbox-gallery a:last-of-type img {
    display: block;
  }
}
.gallery .lightbox-gallery:after {
  content: '.';
  height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.no_animation {
  transition: none !important;
}
.mfp-arrow {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  width: 32px !important;
  height: 32px !important;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  width: 40px !important;
  height: 40px !important;
  margin: 0 16px !important;
  background: rgba(255, 255, 255, 0.25) !important;
  border-radius: 20px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  border-right: 23px solid #3F3F3F !important;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 23px solid #3F3F3F !important;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  border-right-color: #d21a1a !important;
  opacity: 1 !important;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left-color: #d21a1a !important;
  opacity: 1 !important;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 18px solid #FFF !important;
  margin-left: 30px !important;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 16px !important;
  border-bottom-width: 16px !important;
  top: 5px !important;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 18px solid #FFF !important;
  margin-left: 35px !important;
}
.mfp-arrow:before,
.mfp-arrow:after {
  border: transparent none !important;
}
.mfp-arrow-left:before {
  width: 40px !important;
  height: 40px !important;
  margin: 0 0 0 -3px !important;
  border: 0px solid #fff !important;
  left: 2px !important;
  background: url(/img/arrow_left_red.png) no-repeat center center;
}
.mfp-arrow-right:before {
  width: 40px !important;
  height: 40px !important;
  margin: 0 0 0 3px !important;
  border: 0px solid #fff !important;
  right: 10px !important;
  background: url(/img/arrow_right_red.png) no-repeat center center;
}
.mfp-figure img {
  -border: 1px solid #d21a1a;
}
/*
@media (max-width: 720px) {
.mfp-arrow {
	display: none !important;
}
}
*/
.mfp-close,
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #fff !important;
  right: 14px !important;
  top: 26px !important;
  text-align: center !important;
  width: 32px !important;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0px !important;
  line-height: 0px;
  font-size: 28px;
  opacity: 1 !important;
}
.mfp-figure:after {
  box-shadow: none !important;
  border: 1px solid #d21a1a;
  top: 12px !important;
  bottom: 12px !important;
  margin: -1px;
}
.mfp-bg {
  background: #fff !important;
}
.mfp-bottom-bar,
.mfp-title,
.mfp-counter {
  background-color: #fff !important;
  color: black !important;
  font-size: 20px;
  line-height: 20px;
}
.mfp-bottom-bar {
  margin-top: -40px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.mfp-title {
  padding-left: 8px !important;
}
.mfp-counter {
  top: 2px !important;
  right: 9px !important;
}
img.mfp-img {
  padding: 12px 0 40px !important;
}
.startseite-event a {
  font-size: 25px;
}
.startseite-event a img {
  height: auto;
  float: right;
  margin-left: 10px;
}
.presse-title {
  font-size: 30px;
}
.pressebild {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.pressebild h2,
.pressebild p {
  float: left;
  width: 580px;
  clear: left;
}
.pressebild img {
  width: 350px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
}
.pressealbum {
  width: 100%;
  margin: 40px 0;
  padding: 30px 0;
  overflow: hidden;
  border-bottom: 3px solid #d21a1a;
  border-top: 3px solid #d21a1a;
}
.pressealbum .pressealbum-bild {
  width: 227px;
  min-height: 250px;
  float: left;
  margin: 10px;
  overflow: hidden;
}
.pressealbum .pressealbum-bild a {
  display: block;
  width: 227px;
  height: 150px;
  background: #ccc49a;
  text-align: center;
}
.pressealbum img {
  max-height: 150px;
}
.pressealbum figcaption {
  font-size: 12px;
  margin-top: 5px;
}
.showImg {
  margin: -65px 0 0 0;
  color: #d21a1a;
}
.job {
  width: 100%;
  overflow: hidden;
}
.job h2,
.job p,
.job a {
  width: 870px;
  float: left;
}
.job h2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1.2;
}
.job p {
  margin-bottom: 0;
}
.job a {
  margin: 10px 0 0 20px;
  font-size: 22px;
}
.jobDate {
  position: relative;
  font-size: 22px;
}
.job:last-of-type + .goldenHr {
  display: none;
}
.startseite-event {
  position: relative !important;
  width: 475px;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
}
.startseite-event img {
  max-width: 475px;
}
.startseite-event p {
  max-width: 614px;
  margin-left: 15px;
  margin-bottom: 0;
}
.startseite-event-left {
  margin-left: 40px;
}
.startseite-event-bottom {
  margin-top: 50px;
}
.startseite-event-img-wrapper {
  width: 475px;
  height: 219px;
  overflow: hidden;
  /*margin-bottom: 15px;*/
}
.startseite-news-headline {
  font-size: 22px;
  line-height: 34px;
}
.startseite-news-teaser2 {
  line-height: 24px !important;
}
.startseite-event-date,
.startseite-event-location,
.startseite-event-artist {
  font-size: 22px;
  line-height: 34px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.startseite-event-title {
  font-size: 27px;
  line-height: 70px;
  font-family: "Nexa W04 Light1279284";
}
.startseite-event-title a {
  color: #000 !important;
}
.startseite-event-artist {
  padding-top: 12px;
  padding-bottom: 12px;
}
.startseite-event-artist2 {
  line-height: 12px !important;
  padding-top: 10px !important;
}
.startseite-event-link {
  position: absolute;
  border-top: -12px;
  right: 10px !important;
  bottom: 0;
}
.startseite-event-link img.more {
  width: 30px !important;
}
.startseite-event-title2 {
  line-height: 1.3;
  margin-top: 8px !important;
  max-width: 414px !important;
}
.startseite-event-location2 {
  padding-top: 0;
}
/*.startseite-news-headline, .startseite-news-headline2 {
	font-size: 22px;
	line-height: 28px;
	font-family: "Nexa W04 Light1279284";
	padding: 8px 0;
}*/
#online-kartenkauf form {
  width: 950px;
  margin-left: 20px;
  margin-top: 50px;
}
#online-kartenkauf form input {
  font-family: "Nexa W04";
}
#online-kartenkauf form p {
  float: left;
  width: 300px;
  font-size: 30px;
  margin-top: 10px;
}
#online-kartenkauf form h2 {
  margin-top: 40px;
  font-size: 25px;
}
#online-kartenkauf .form-button img {
  margin-left: 20px;
}
#online-kartenkauf p {
  margin-bottom: 20px;
}
.form-button {
  position: relative;
  display: block;
  width: auto;
  max-width: 410px;
  text-align: center;
  padding: 20px;
  border: none;
  background: #ccc49a;
  font-size: 22px;
  font-family: "Nexa W04 Bold1279264";
  margin: 22px auto 22px auto;
  color: #000 !important;
}
.form-button:hover {
  cursor: pointer;
}
.form-button img {
  width: 23px;
  position: absolute;
  top: 15px;
}
.street-zip {
  font-size: 28px;
  line-height: 55px;
}
.programm-info-title {
  font-size: 22px;
  margin-bottom: 10px;
}
.karte-kaufen {
  margin-left: 20px;
}
.slider-empfehlungen {
  overflow: hidden;
  /*
	 * Don't set 'height' on this, use margin-top/margin-bottom instead
	 */
  /*
	&:after {
		content: '.';
		height: 0;
		visibility: hidden;
		clear: both;
		display: block;
	}
	*/
}
.slider-empfehlungen > div {
  transition: margin 0.5s ease;
}
.slider-empfehlungen a {
  color: #000 !important;
}
.recommendations h4 {
  margin-top: 100px;
}
.programm-empfohlen {
  margin: 0 40px 0 0;
  position: relative;
  width: 271px;
  min-height: 237px;
  border: 1px solid #ccc49a;
  float: left;
  padding: 40px 15px 15px 15px;
}
.programm-empfohlen p {
  position: absolute;
  bottom: 45px;
  font-size: 21px;
  margin-left: 0;
  margin-bottom: 0;
}
.programm-empfohlen h3 {
  font-size: 30px;
  margin-left: 0;
  line-height: 1.3;
}
.programm-empfohlen img {
  position: absolute;
  right: 15px;
  bottom: 15px;
  height: auto;
  width: 38px;
}
.programm-empfohlen:last-of-type {
  margin: 0;
}
.programm-empfohlen-center {
  margin: 0 10px;
}
.videoimpression {
  width: 990px;
  height: 557px;
  vertical-align: top;
}
@media (max-width: 990px) {
  .videoimpression {
    width: 720px;
    height: 405px;
  }
}
@media (max-width: 720px) {
  .videoimpression {
    width: 440px;
    height: 248px;
    margin-left: 20px;
  }
}
.videoCredit {
  text-align: right;
  width: 100%;
  display: block;
  font-size: 12px;
  padding-top: 5px;
}
@media (max-width: 720px) {
  .videoCredit {
    width: auto;
    margin-left: 20px;
    text-align: left;
    margin-top: 10px;
  }
}
.photocredit {
  display: none;
  font-size: 16px;
  font-family: "Nexa W04 Light1279284";
  color: #aaa;
  margin-bottom: 20px;
}
.mfp-content .photocredit {
  color: #fff;
  margin-bottom: 25px;
}
.mfp-content h1 {
  line-height: 45px;
  margin-bottom: 10px !important;
}
.programm-besetzung {
  width: 233px;
  height: 390px;
  float: left;
  margin: 7px;
}
.programm-besetzung p {
  margin-left: 0;
  margin-bottom: 10px;
  line-height: 1.3;
}
.programm-besetzung .programm-besetzung-img {
  width: 100%;
  height: 210px;
  background: #ccc49a;
  margin-bottom: 10px;
  border-bottom: 10px solid #fff;
  overflow: hidden;
}
.programm-besetzung .programm-besetzung-img:hover {
  cursor: pointer;
}
.programm-besetzung .programm-besetzung-img img {
  width: 100%;
}
.programm-besetzung .programm-besetzung-active,
.programm-besetzung .programm-besetzung-img:hover {
  border-bottom: 10px solid #d21a1a;
}
.programm-besetzung .programm-besetzung-name {
  font-size: 27px;
  line-height: 30px;
}
.besetzung-info {
  clear: both;
  position: relative;
  border-bottom: 3px solid #d21a1a;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.programm-besetzung-close {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  color: #d21a1a;
}
.ics-calendar-bottom img {
  max-height: 22px;
  position: relative;
  top: 2px;
}
.spielplan-event {
  width: 100%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #ccc49a;
  overflow: hidden;
}
.spielplan-event > div {
  width: 93%;
  padding: 15px;
  position: relative;
}
.spielplan-event .buy-cards {
  position: absolute;
}
.spielplan-event p {
  margin-left: 0;
  margin-bottom: 0;
}
.spielplan-event p:last-of-type {
  box-sizing: border-box;
  padding-right: 40px;
}
.buy-cards {
  right: 0;
  top: 10px;
  padding-top: 5px;
  /*padding-right: 55px;
	background-image: url('/img/karten-kaufen-button.png');*/
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 45px !important;
  font-size: 25px;
}
.buy-cards img {
  margin-top: 0 !important;
  position: absolute;
  right: 0;
  top: 0;
}
.buy-cards img:first-of-type {
  margin-top: 20px;
}
.buy-cards-link {
  padding-right: 55px;
  background-image: url(/img/karten-kaufen-button.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 45px !important;
}
.weitereTermineWrapper .buy-cards {
  padding-top: 0 !important;
  top: 0;
}
.calendar-info-box .buy-cards {
  margin-left: 20px;
  float: none;
}
.calendar-info-empty {
  font-size: 24px;
}
.calendar-info-box .sellstatus,
.calendar-info-box .sellstatus0,
.calendar-info-box .sellstatus1,
.calendar-info-box .sellstatus2,
.calendar-info-box .select-list-3,
.calendar-info-box .sellstatus4,
.calendar-info-box .sellstatus5,
.calendar-info-box .sellstatus6,
.calendar-info-box .sellstatus7,
.calendar-info-box .sellstatus8,
.calendar-info-box .sellstatus9,
.calendar-info-box .sellstatus10,
.calendar-info-box .sellstatus11,
.calendar-info-box .sellstatus12,
.calendar-info-box .sellstatus13,
.calendar-info-box .sellstatus14,
.calendar-info-box .sellstatus15,
.calendar-info-box .sellstatus16 {
  font-family: "Nexa W04 Light1279284";
  margin-left: 20px;
  color: #d21a1a;
  font-size: 20px;
}
.calendar-info-box .sellstatus,
.calendar-info-box .sellstatus6,
.calendar-info-box .sellstatus8,
.calendar-info-box .sellstatus12,
.calendar-info-box .sellstatus13 {
  font-size: 18px;
}
.calendar-info-box .sellstatus14 {
  font-size: 14px;
}
.spielplan-title a,
.buy-cards {
  color: #d21a1a !important;
}
.spielplan-event.border-oper > div {
  border-left: 20px solid #d21a1a;
}
.spielplan-event.border-konzert > div {
  border-left: 20px solid #0057a5;
}
.spielplan-event.border-ballett > div {
  border-left: 20px solid #7fa0b2;
}
.spielplan-event.border-jung > div {
  border-left: 20px solid #feda00;
}
.spielplan-event.border-gold > div {
  border-left: 20px solid #ccc49a;
}
.spielplan-event p.besetzung {
  font-size: 18px;
  line-height: 28px;
}
.spielplan-arrow-left {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.spielplan-arrow-left img {
  width: 36px !important;
}
.zur-veranstaltung {
  margin-left: 20px;
}
.spielplan-date {
  font-size: 30px;
  line-height: 45px;
  margin-right: 260px;
  margin-bottom: 15px !important;
}
.spielplan-location,
.spielplan-artist {
  font-size: 32px;
  line-height: 40px;
}
.spielplan-title {
  font-size: 45px;
  line-height: 60px;
  font-family: "Nexa W04 Light1279284";
}
.spielplan-artist {
  line-height: 50px;
}
.spielplan-description {
  font-size: 20px;
}
#suchergebnisse {
  width: 840px;
}
#suchergebnisse img {
  float: left;
  margin-top: 45px;
}
#suchergebnisse a {
  height: 36px;
  line-height: 35px;
  width: 784px;
  float: left;
  font-size: 25px;
  margin-left: 20px;
  text-decoration: underline;
  margin-top: 45px;
}
#ihre-meinung form p {
  margin: 0;
  margin-left: 20px;
  float: left;
}
#ihre-meinung form p:last-of-type {
  font-size: 20px;
  margin-bottom: 40px;
}
#ihre-meinung form input,
#ihre-meinung form textarea {
  float: left;
  width: 600px;
  height: 30px;
  padding: 15px;
  font-size: 22px;
  border: 1px solid #000;
  font-family: "Nexa W04";
  margin-bottom: 35px;
}
#ihre-meinung form textarea {
  width: 932px;
  min-height: 300px;
  margin: 20px;
  margin-left: 0;
  resize: vertical;
}
#ihre-meinung form .input-p {
  width: 333px;
  float: left;
  padding: 14px 0;
}
.button {
  width: auto;
}
#ihre-meinung .form-button {
  width: auto;
  height: auto;
  border: none;
  -webkit-appearance: none;
}
form {
  font-size: 22px;
  line-height: 35px;
  margin-left: 20px;
}
form input {
  background: #fff;
  border: 1px solid #000;
  padding: 5px;
  margin-left: 0;
}
form input[type="submit"] {
  background: #ccc49a;
  border: none;
  margin: 22px 0;
}
form .form-p {
  display: inline-block;
  width: 200px;
}
.footerLink {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.footerLink:hover {
  color: #7e7e7e;
}
footer {
  width: 100%;
  padding: 45px 0 45px 0;
  margin-top: 20px;
  background: #ccc49a;
  text-align: center;
  /**/
}
footer ul {
  max-height: 660px;
  margin: auto;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  margin: 0 15px 0;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
footer ul li a:hover {
  color: #7e7e7e;
}
footer #social-media li a {
  margin: 0 29px 0 0;
}
footer #social-media li:last-of-type a {
  margin: 0 0 0 0;
}
footer #hotline {
  font-size: 22px;
  margin: 20px 0 30px 0;
}
footer #hh-buehnen {
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-top: 15px;
}
#social-media img {
  width: 46px;
}
.nobr {
  white-space: nowrap;
}
.languageSwitcher {
  text-transform: uppercase;
}
#mobile_navigation {
  display: none;
}
.mobile-li-menu {
  width: 720px;
  font-size: 22px;
  line-height: 34px;
}
@media (max-width: 720px) {
  .mobile-li-menu {
    width: 480px;
  }
}
.mobile-li-menu a {
  display: block;
  color: #000;
  text-decoration: none;
  outline: none;
  padding: 5px 10px;
}
.mobile-li-menu ul li ul li a {
  padding-left: 40px;
}
#mobile_navigation {
  position: fixed;
  height: 100%;
  right: 0px;
  top: 0px;
  width: 0px;
  background-color: #fff;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex !important;
  flex-direction: column;
  transition: width 0.5s ease;
}
#mobile_navigation img {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 32px;
}
#mobile_navigation > ul {
  width: 250px;
  margin: 0px;
  margin-top: 175px;
}
#mobile_navigation > ul:last-of-type {
  margin-top: auto;
}
#mobile_navigation > ul:last-of-type li {
  font-size: 14px;
  line-height: 1.5;
}
#mobile_navigation > ul:last-of-type a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mobile_navigation > ul:last-of-type a:hover svg {
  opacity: 1;
}
#mobile_navigation > ul:last-of-type span {
  width: calc(100% - 14px);
}
#mobile_navigation > ul:last-of-type svg {
  width: 14px;
  height: 14px;
  opacity: 0.5;
  transition: opacity 0.2s;
}
#mobile_navigation > ul > li > ul {
  background-color: #f3f3f3;
}
#mobile_navigation ul li a {
  border-top: 1px solid #000;
}
body.mobileNavigation #mobile_navigation {
  border-left: 1px solid #000;
  width: 250px;
  transition: width 0.5s ease;
}
body {
  transition: margin-left 0.5s ease;
}
body.mobileNavigation {
  margin-left: -250px;
  transition: margin-left 0.5s ease;
}
.goldenHr {
  width: 100%;
  height: 3px;
  background: #ccc49a;
}
.overv_container {
  width: 100%;
  position: relative;
  padding-bottom: 10px;
}
.overv_container p {
  margin: 35px 0 0 20px;
}
.overv_container p .spielplan-arrow-left {
  bottom: -45px;
}
.overv_container span p:last-child {
  margin: 0;
}
.overv_container h2 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 0.8;
}
.overv_container h2 a {
  line-height: 1.4;
}
.overv_container .overv_next,
.overv_container .overv_nomore {
  margin: 35px 0 35px 20px;
}
.overv_container .overv_premiere_headline {
  color: black;
}
.overv_container .overv_premiere {
  display: block;
  margin-left: 20px;
  margin-top: 35px;
}
.overv_container .overv_premiere,
.overv_container .overv_next,
.overv_container .overv_nomore {
  font-size: 21px;
  float: left;
}
.overv_container .overview_artist {
  font-size: 20px;
  display: inline-block;
  line-height: 1.4;
}
.clickable {
  color: #d21a1a;
}
.clickable:hover {
  cursor: pointer;
}
.extendable {
  display: block;
  border-bottom: 3px solid #d21a1a;
  margin-bottom: 40px;
  padding-top: 35px;
}
.typinfo {
  font-family: "Nexa W04 Light1279284";
  color: #d21a1a;
  font-size: 26px;
  display: block;
}
.formcheck {
  /*margin-left: 20px;*/
  color: #d21a1a;
  /*font-size: 22px;*/
}
.toTop {
  display: none;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}
table {
  margin-left: 20px;
}
table.blueline {
  margin-left: -20px;
}
table.blueline:first-of-type table {
  margin-left: 0 !important;
}
.programm-empfohlen-long h3 {
  font-size: 25px;
  line-height: 1.3;
}
#hvvLogo {
  width: 100%;
  max-width: 260px;
  height: auto;
}
.startseite-news_category,
.startseite-event-date2 {
  font-size: 20px !important;
}
.startseite-news-headline,
.startseite-news-headline2 {
  font-size: 22px;
  line-height: 28px;
  font-family: "Nexa W04 Light1279284";
  padding-bottom: 8px;
}
.startseite-news-headline2 {
  font-size: 25px;
}
.startseite-news-teaser2,
.startseite-news-teaser2 a,
.startseite-news-link a {
  font-size: 17px;
  line-height: 20px;
}
.startseite-news-link {
  font-size: 22px;
  font-family: "Nexa W04 Light1279284";
}
.startseite-event {
  /*position: relative;*/
}
.startseite-event-location2 {
  font-size: 17px;
  line-height: 20px;
  padding-top: 8px;
}
.startseite-event-title2 {
  position: relative;
  padding-top: 8px;
}
.startseite-event-title2 a {
  color: #000;
}
.startseite-event-premiere {
  font-family: "Nexa W04 Light1279284";
  color: #e2142c;
}
.startseite-event-artist2 {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  padding-top: 8px;
  clear: both;
}
.startseite-event-link img.more {
  margin-top: 0px;
  margin-bottom: 0px;
}
.calendar-info-slide {
  box-sizing: border-box;
  /* padding-right: 40px; */
}
.calendar-info-box > a {
  display: block;
  color: #000 !important;
}
.calendar-info-box > a:hover {
  /* background-color: rgba(0,0,0, .05); */
}
.startseite-news-headline a,
.startseite-news-headline2 a {
  color: #000 !important;
}
@media (max-width: 720px) {
  .startseite-event-link img.more {
    margin-top: -4px;
  }
  .startseite-news-link2 {
    text-align: right;
  }
}
/*
.startseite-event-link {
	position: absolute;
	top: -8px;
	right: 0px;
}
*/
#preise1617 td {
  width: 7.8%;
  text-align: center;
}
#preise1617 tr td:first-of-type {
  text-align: left;
  width: 6.4%;
}
#preise1617 tr td:nth-of-type(2) {
  background: #fcf500;
}
#preise1617 tr td:nth-of-type(3) {
  background: #db1f24;
}
#preise1617 tr td:nth-of-type(4) {
  background: #346c9b;
}
#preise1617 tr td:nth-of-type(5) {
  background: #e87312;
}
#preise1617 tr td:nth-of-type(6) {
  background: #00a154;
}
#preise1617 tr td:nth-of-type(7) {
  background: #94cff3;
}
#preise1617 tr td:nth-of-type(8) {
  background: #ec726b;
}
#preise1617 tr td:nth-of-type(9) {
  background: #b0d676;
}
#preise1617 tr td:nth-of-type(10) {
  background: #f1ab00;
}
#preise1617 tr:first-of-type td,
#preise1617 tr:last-of-type td {
  background: #fff;
}
.content-wrapper section hr.stueckoverviewhr:last-child {
  height: 0px;
  display: inline-block;
  margin: 0px;
}
.content-wrapper h3 {
  line-height: 1.2 !important;
}
/*.content-wrapper img:not(.img-right):not(.img-left) {
    max-width: 100% !important;
    height: auto !important;
}
 */
.contentBorderBlack {
  border: solid 1px black;
}
.popup-block {
  background: #b6b183;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
  color: #1F1F1D;
}
.popup-block-close {
  color: #004ea2;
}
.page-phil-members {
  margin-left: 20px;
}
.perBox {
  float: left;
  width: 50%;
  border-right: 20px solid transparent;
  /* faux margin */
  box-sizing: border-box;
}
@media (max-width: 990px) {
  .perBox {
    width: 100%;
  }
}
h3 {
  line-height: inherit;
}
.auffTypTitlePrefix {
  font-size: 25px;
}
.redthin {
  font-family: "Nexa W04 Light1279284";
  color: #d21a1a;
}
.content-wrapper figure img,
.content-wrapper img[border="1"] {
  border: solid 1px black;
}
.youtubeN {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.youtubeN p {
  margin-bottom: 0;
  width: 430px;
  float: right;
}
@media (max-width: 990px) {
  .youtubeN p {
    width: auto;
    float: none;
  }
}
.youtubeN > div,
.youtubeN > iframe {
  flex: 1 1 0;
  width: 100%;
}
@media (max-width: 720px) {
  .youtubeN {
    margin-bottom: 0;
  }
  .youtubeN > div,
  .youtubeN > iframe {
    flex: auto;
    width: 100%;
    margin-bottom: 35px;
  }
}
@media (max-width: 479px) {
  .youtubeN > div,
  .youtubeN > iframe {
    margin-bottom: 20px;
  }
}
.video-iframe-16-9 {
  display: block;
  margin: 0 0 35px 20px !important;
  max-width: 970px !important;
  height: 545px;
  box-sizing: border-box;
}
@media (max-width: 990px) {
  .video-iframe-16-9 {
    max-width: 680px !important;
    height: 382px;
  }
}
@media (max-width: 720px) {
  .video-iframe-16-9 {
    max-width: 440px !important;
    height: 247px;
  }
}
@media (max-width: 480px) {
  .video-iframe-16-9 {
    margin: 0 !important;
    padding: 20px;
    width: 100%;
    max-width: 100% !important;
    height: 247px;
  }
}
.video-privacy-info {
  position: relative;
}
.video-privacy-info > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
.video-privacy-info a {
  float: none;
  color: #ccc49a;
}
.video-privacy-info img {
  display: block;
  width: 100% !important;
}
@media (max-width: 990px) {
  .video-privacy-info > div {
    align-items: start;
  }
}
.job {
  margin-bottom: 20px;
}
.job-clickable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: -1px;
  padding: 10px 20px;
  border: 1px solid #ccc49a;
  font-size: 22px;
}
.job-extendable {
  margin-left: 20px;
  padding: 20px 0;
  border: 1px solid #ccc49a;
}
.ticketOverlayContainer {
  position: relative;
  display: block;
}
.ticketOverlay {
  border: 1px solid white;
  position: absolute;
  margin: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  max-width: calc(100vw - 36px);
  font-size: 17px;
  padding: 17px;
  background-color: #cdcba5;
  z-index: 9;
  display: none;
  line-height: 1;
}
.ticketOverlay .ticketOverlayContainerHeadline {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
  paddding: 0px;
  line-height: inherit;
  display: block;
}
.ticketOverlay a {
  padding: 0px 10px;
  font-size: 16px;
}
@media (max-width: 720px) {
  .text-right {
    max-width: none;
  }
}
figure.fig-img-left {
  margin-left: 20px;
}
@media (max-width: 720px) {
  figure.fig-img-left {
    margin-left: 0;
  }
}
figure.fig-img-right {
  margin-right: 20px;
}
@media (max-width: 720px) {
  figure.fig-img-right {
    margin-right: 0;
  }
}
.vorverkaufshinweis {
  font-size: 16px;
  margin: 0 20px;
  color: #d21b1a;
  position: relative;
  line-height: 1;
  top: 5px;
  padding-right: 100px;
}
@media (max-width: 720px) {
  .vorverkaufshinweis {
    padding-right: 0;
  }
}
.inlineMagnificPopup {
  display: inline-block;
}
.img-content-float-left {
  float: left;
  margin: 10px 30px 30px 0;
}
.programm-besetzung-role {
  font-size: 16px;
}
.programm-besetzung-name {
  font-size: 20px;
}
