@media (max-width: 720px) {
  .content-wrapper {
    width: 480px;
  }
  .content-wrapper .eventAgeInfo {
    font-size: 17px;
  }
  .content-wrapper h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .content-wrapper h1,
  .content-wrapper h2,
  .content-wrapper h3,
  .content-wrapper h4,
  .content-wrapper p {
    max-width: 440px;
  }
  .calendar-printmonth {
    display: none;
    font-size: 0 !important;
  }
  .iframeContainer iframe {
    width: 480px;
    height: 271px;
  }
  .popup-block {
    font-size: 17px;
  }
  .popup-block h1 {
    font-size: 30px;
    font-family: "Nexa W04 Bold1279264";
    line-height: 1.3;
  }
  #section-staatsoper,
  #section-jung {
    width: 168px !important;
    margin-left: 170px;
  }
  #section-staatsoper {
    margin-bottom: 55px;
  }
  #section-jung {
    margin-bottom: 36px;
  }
  .text-left {
    float: left;
    width: 480px;
    min-height: 0;
    margin-bottom: 30px;
  }
  .fig-img-right {
    padding: 0 20px;
  }
  .img-right {
    max-width: 440px;
  }
  .img-title-right {
    float: right;
  }
  .text-right {
    float: right;
    width: 480px;
    min-height: 0;
    margin-bottom: 30px;
    max-width: none;
  }
  .fig-img-left {
    padding: 0 20px;
  }
  .img-left {
    max-width: 440px;
  }
  .img-title-left {
    float: left;
    margin-left: 0 !important;
  }
  .img-big {
    max-width: 440px;
    margin: 0 20px 45px 20px;
  }
  .img-title {
    width: 480px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .text-text {
    width: 460px;
    float: left;
  }
  .text-text:first-child {
    margin-right: 0;
  }
  #search-overlay {
    margin-top: 220px;
    padding-top: 150px;
  }
  #search-overlay p {
    font-size: 30px;
    line-height: 43px;
  }
  #search-overlay img {
    width: 35px;
  }
  .recommendations h4 {
    margin-top: 75px;
  }
  nav {
    height: 220px;
  }
  nav #mobile-nav {
    display: block;
    width: 330px;
    text-align: left;
    margin: auto;
    margin-left: 60px !important;
  }
  nav ul li a {
    margin: 18px 10px 18px 0;
  }
  nav ul li a img {
    margin-top: -15px;
  }
  nav ul li:nth-of-type(2) {
    margin-right: 100px;
  }
  #subnav ul {
    width: 480px;
    margin: auto;
  }
  #sub-mobile-nav-list {
    width: 480px;
  }
  #programm-mobile-nav-list {
    max-width: 480px;
  }
  header {
    height: 222px;
  }
  .slider-caption {
    position: absolute;
    background: none;
    text-align: left;
    width: 100%;
    min-height: 0;
    max-height: none;
    padding: 16px 16px 12px;
    box-sizing: border-box;
    border: 0;
    color: #fff;
    left: 0;
    margin-left: 0;
    bottom: 0;
  }
  .slider-caption p {
    max-width: none;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .slider-caption-long {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .slider-caption .slider-caption-more {
    color: #fff !important;
    bottom: 12px !important;
    right: 16px !important;
    height: inherit !important;
    font-size: 16px !important;
  }
  .slider-caption-artist {
    font-size: 16px;
    line-height: 1.3;
  }
  .slider-caption-title {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: -6px !important;
    padding-right: 50px;
  }
  .slider-caption-description,
  .slider-caption a,
  .slider-caption a img {
    display: none !important;
  }
  #header-slider {
    width: 480px !important;
    margin: 0 auto;
  }
  #header-map {
    width: 480px;
    height: 100%;
  }
  #filter-title,
  #filter-title-2 {
    width: 345px;
  }
  #filter-title p,
  #filter-title-2 p {
    font-size: 30px;
  }
  #filter-options {
    margin-top: 30px;
  }
  .filter-select {
    position: relative;
    width: 370px;
    min-height: 28px;
    padding: 13px;
  }
  .filter-select:hover {
    cursor: pointer;
  }
  .filter-select p {
    font-size: 28px;
    margin: 0;
  }
  .filter-select img {
    position: absolute;
    right: 12px;
    top: 12px;
    margin-left: 12px;
  }
  .select-list-1,
  .select-list-2,
  .select-list-3,
  .select-list-4 {
    width: 358px;
    margin-left: -13px;
    margin-top: 60px;
  }
  .filter-select-box p {
    max-width: 90%;
  }
  .startseite-event {
    width: 480px;
    overflow: visible;
    margin: 20px 0;
  }
  .startseite-event img {
    max-width: 450px;
    height: auto;
  }
  .startseite-event img:first-of-type {
    float: none;
  }
  .startseite-event:nth-of-type(4) {
    margin-top: 0;
  }
  .startseite-event p {
    margin-left: 15px;
  }
  .startseite-event-left {
    margin-left: 0;
  }
  .startseite-event-img-wrapper {
    width: 450px;
    height: 208px;
    overflow: hidden;
    margin-left: 15px;
  }
  .startseite-event-link {
    right: 20px !important;
  }
  .spielplan-event > div {
    width: 440px;
    padding: 15px;
  }
  .spielplan-event > div img {
    margin-right: 0;
  }
  .spielplan-event > div .restriction img {
    top: 0px;
    height: 27px;
  }
  .spielplan-title {
    max-width: 370px !important;
  }
  .spielplan-event.border-oper > div {
    border-left: 10px solid #d21a1a;
  }
  .spielplan-event.border-konzert > div {
    border-left: 10px solid #0057a5;
  }
  .spielplan-event.border-ballett > div {
    border-left: 10px solid #7fa0b2;
  }
  .spielplan-event.border-jung > div {
    border-left: 10px solid #feda00;
  }
  .spielplan-event.border-gold > div {
    border-left: 10px solid #ccc49a;
  }
  .spielplan-mobile-nav-list ul {
    text-align: center;
    width: 100%;
    float: left;
    padding-left: 0;
  }
  .spielplan-date {
    font-size: 30px;
    line-height: 30px;
  }
  .spielplan-location,
  .spielplan-artist {
    font-size: 25px;
    line-height: 45px;
  }
  .spielplan-title {
    font-size: 35px;
    line-height: 45px;
    font-family: "Nexa W04 Light1279284";
  }
  .spielplan-artist {
    line-height: 35px;
    margin: 15px 0 !important;
  }
  .spielplan-description {
    box-sizing: border-box;
    padding-right: 60px;
    font-size: 20px;
  }
  .spielplan-event p {
    max-width: 100%;
  }
  /* break datetime / venue into two lines on mobile */
  .event-prehead-sep {
    display: none;
  }
  .event-prehead-venue {
    display: block;
  }
  .programm-empfohlen {
    width: 448px;
  }
  .programm-empfohlen h3 {
    font-size: 25px;
    line-height: 1.3 !important;
  }
  .programm-empfohlen-long {
    width: 448px;
  }
  .programm-empfohlen-long h3 {
    font-size: 20px;
    line-height: 1.3 !important;
  }
  .programm-besetzung {
    width: 226px;
    height: 400px;
    float: left;
    margin: 7px;
  }
  .programm-besetzung-img {
    height: 210px;
  }
  .gallery {
    width: 480px;
    /*
		a:first-of-type img, a:last-of-type img {
			display: block;
			@media (max-width: 570px) {
				display: none;
			}
		}
		*/
    /*
		.img-gallery-center {
			margin: 0 0 0 0;
		}
		.lightbox-gallery a:last-of-type, .lightbox-gallery a:nth-of-type(2) {
			-display: none !important;
		}
		*/
  }
  .gallery img {
    width: 480px;
  }
  .gallery .lightbox-gallery {
    width: 480px;
    margin-left: 0px;
  }
  .gallery .lightbox-gallery img {
    margin: 0 0 0 81px;
  }
  .kartenkauf-select {
    width: 448px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #online-kartenkauf p {
    margin-bottom: 20px;
  }
  #online-kartenkauf form {
    width: 440px !important;
  }
  #online-kartenkauf .label_performance,
  #online-kartenkauf .label_event {
    margin-bottom: 20px;
  }
  .label_performance,
  .label_event,
  .select_performance,
  .select_event {
    width: 100%;
  }
  .kartenkauf-select-list {
    width: 448px;
    margin-left: 0;
    margin-top: 126px;
  }
  .form-button {
    margin: 50px 20px 70px 20px;
  }
  #ihre-meinung input {
    width: 368px !important;
    margin-bottom: 20px !important;
  }
  #ihre-meinung textarea {
    width: 368px !important;
    margin-bottom: 20px !important;
  }
  #ihre-meinung .form-button {
    width: auto;
    height: auto;
    border: none;
  }
  #suchergebnisse img {
    display: none;
    float: left;
    margin-top: 45px;
  }
  #suchergebnisse a {
    height: auto;
    line-height: 35px;
    width: 480px;
    float: left;
    font-size: 25px;
    margin-left: 20px;
    text-decoration: underline;
    margin-top: 45px;
  }
  .pressealbum .presse-bild {
    min-height: 0;
  }
  .pressebild {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    min-height: 0;
  }
  .pressebild h2,
  .pressebild p {
    float: left;
    width: 440px;
    clear: left;
  }
  .pressebild p {
    margin-bottom: 10px;
  }
  .pressebild img {
    width: 100%;
    max-width: 440px;
    margin: 0;
    position: static;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .pressebild .showImg {
    margin-top: 0;
  }
  .job h2,
  .job p,
  .job a {
    width: 440px;
  }
  footer ul {
    max-width: 660px;
    margin: auto;
  }
  footer ul li {
    margin: 10px 20px;
  }
  footer ul li a {
    font-size: 20px;
  }
  #hotline {
    font-size: 25px;
    margin: 20px 0 30px 0;
  }
  #hh-buehnen {
    margin-top: 15px;
  }
  .spielplan-date {
    margin-right: 0;
    font-size: 25px;
  }
  .buy-cards {
    background-size: 50px;
    right: 8px !important;
  }
  #header-slider {
    width: 720px;
  }
  #header-slider .slider-caption-more img {
    display: none;
  }
  .lightbox-gallery a,
  .slider-caption .slider-caption-more {
    display: block !important;
  }
  .overv_container .overv_premiere,
  .overv_container .overv_next,
  .overv_container .overv_nomore {
    max-width: 410px;
  }
  .overv_container p {
    max-width: 405px;
  }
  .printPage a img {
    display: none;
  }
  .printPage .sellstatus0,
  .printPage .sellstatus1,
  .printPage .sellstatus2,
  .printPage .sellstatus3,
  .printPage .sellstatus4,
  .printPage .sellstatus5,
  .printPage .sellstatus6,
  .printPage .sellstatus7,
  .printPage .sellstatus8,
  .printPage .sellstatus9,
  .printPage .sellstatus10,
  .printPage .sellstatus11,
  .printPage .sellstatus12,
  .printPage .sellstatus13,
  .printPage .sellstatus14,
  .printPage .sellstatus15,
  .printPage .sellstatus16 {
    font-size: 18px;
    float: left;
    margin-right: 0;
    margin-left: 20px;
  }
  .startseite-event-title2 {
    padding-right: 60px !important;
  }
  table {
    font-size: 14px;
  }
}
