@media print {
  nav ul,
  header,
  footer ul,
  #programm-nav,
  .programm-details-arrow_box,
  .gallery a:first-of-type,
  .gallery a:last-of-type,
  h4:last-of-type,
  .programm-empfohlen,
  .buy-cards,
  hr:last-of-type,
  .spielplan-arrow-left,
  #programm-mobile-nav,
  footer #hh-buehnen,
  .bottom-div,
  #calendar-info,
  .programm-besetzung-arrow_box,
  form,
  .printPage,
  #mobile-nav,
  #programm-mobile-nav,
  .popup-block,
  .mfp-bg,
  .mfp-wrap,
  .gallery,
  .slider-empfehlungen {
    display: none !important;
  }
  #calendar.fixed {
    position: relative;
  }
  .calendar-arrow-r,
  .calendar-arrow-l,
  .calendar-daylist-container,
  .calendar-printmonth {
    display: none;
  }
  .calendar-month,
  .calendar-month-label {
    display: block !important;
    font-size: 40px;
    margin: 5mm 0 12.5mm 0;
  }
  .calendar-month-label:after {
    /* arrow after month dropdown */
    display: none;
  }
  nav {
    width: 180mm;
    padding: 0 15mm;
    height: 0;
  }
  .content-wrapper {
    width: 180mm;
    padding: 50px 15mm 0 15mm;
  }
  .content-wrapper p,
  .content-wrapper h1,
  .content-wrapper h2,
  .content-wrapper h4 {
    margin-left: 0;
    max-width: 180mm;
  }
  .content-wrapper .content-wrapper {
    width: 100%;
    padding: 0;
  }
  .text-left {
    width: 90mm;
  }
  .img-right {
    max-width: 90mm;
  }
  .text-right {
    width: 90mm;
  }
  .img-left {
    max-width: 90mm;
  }
  .img-title {
    width: 90mm;
  }
  .img-big {
    margin-left: 0;
  }
  .list {
    margin-left: 0;
    font-size: 16px;
    line-height: 30px;
  }
  .gallery .lightbox-gallery a {
    display: block;
  }
  #section-staatsoper,
  #section-ballett,
  #section-staatsorchester {
    position: absolute;
    display: block;
    top: 0;
    margin: 0;
    padding: 0;
    width: auto;
  }
  #section-staatsoper img,
  #section-ballett img,
  #section-staatsorchester img {
    width: 5% !important;
  }
  #section-staatsoper {
    left: 0;
    width: 100px;
  }
  #section-ballett {
    left: 40%;
    width: 149px;
  }
  #section-staatsorchester {
    right: 0;
    width: 162px;
  }
  #moreInfo {
    display: block !important;
    width: 100%;
    margin-left: 0;
  }
  .moreInfoLink {
    display: none !important;
  }
  .arrow_box {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .besetzung-info h4 {
    display: block;
  }
  p,
  #moreInfo {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 24px;
    line-height: 46px;
    margin-bottom: 25px;
  }
  h1 {
    margin-top: 20px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 0;
    margin-left: 0 !important;
  }
  #hotline {
    display: block;
    color: #c72a3d;
  }
  .gallery,
  .lightbox-gallery {
    width: 180mm;
  }
  .gallery .lightbox-gallery img {
    width: 40mm !important;
    margin: 5mm !important;
  }
  /*
	 * Stueck detail PHIL
	 */
  ul.philDetailTexts {
    margin-left: 0 !important;
  }
  ul.philDetailTexts li {
    font-size: 16px;
  }
  #spielplan {
    page-break-inside: auto !important;
    position: relative;
    float: none;
  }
  /*
	 * Spielplan filter descriptions
	 */
  #spielplan-header,
  #filter-options,
  #filter-options .content-wrapper {
    display: block !important;
    background: transparent none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }
  #spielplan-header {
    padding-top: 20mm;
    margin-bottom: -40mm !important;
  }
  #filter-title-2 {
    display: none !important;
  }
  #filter-title {
    color: #000;
    text-align: left;
    display: block !important;
    margin: 0 20mm;
    text-decoration: underline;
    font-family: "Nexa W04 Light1279284";
  }
  #filter-title img {
    display: none;
  }
  .filter-print-label {
    color: #000;
    display: block !important;
    text-align: left;
    height: auto;
    -width: 45%;
  }
  .chosen-container {
    display: block !important;
    width: 100% !important;
    float: none;
    margin: 0;
    padding: 0;
  }
  .chosen-container .chosen-choices,
  .chosen-single {
    position: static;
    top: 0;
    left: 0;
    display: block !important;
    -width: 55% !important;
  }
  .chosen-container .chosen-choices .default,
  .chosen-single.chosen-default {
    display: none !important;
  }
  .chosen-choices,
  .chosen-single div b {
    background: transparent none !important;
  }
  .chosen-container-multi .chosen-choices li.search-choice {
    padding: 0 10mm 0 0;
    border: none;
  }
  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    display: none;
  }
  .spielplan-event {
    page-break-inside: avoid !important;
    page-break-after: auto;
    position: relative;
    float: none;
  }
  .spielplan-event {
    margin: 0;
    padding: 0 0 5mm 0;
    border-bottom: 1px solid #999;
  }
  .spielplan-event > div,
  .spielplan-event > a {
    margin: 0;
    padding: 0;
  }
  .border-oper > div,
  .border-konzert > div,
  .border-gold > div,
  .border-ballett > div,
  .border-jung > div {
    border: none !important;
  }
  /*
	.spielplan-hr {
		display: block;
		background: #000000;
		height: 2px;
	}
	*/
  .spielplan-date,
  .spielplan-location,
  .spielplan-artist,
  .startseite-event-date,
  .startseite-event-location,
  .startseite-event-artist,
  .spielplan-description,
  .spielplan-event a {
    font-size: 16px;
    line-height: 20px;
    color: #000 !important;
  }
  .spielplan-date {
    margin: 5mm 0 0 0;
    padding: 0;
  }
  .spielplan-title,
  .spielplan-title a,
  .startseite-event-title {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0;
  }
  .spielplan-event .sellstatus,
  .spielplan-event .sellstatus0,
  .spielplan-event .sellstatus1,
  .spielplan-event .sellstatus2,
  .spielplan-event .sellstatus3,
  .spielplan-event .sellstatus4,
  .spielplan-event .sellstatus5,
  .spielplan-event .sellstatus6,
  .spielplan-event .sellstatus7,
  .spielplan-event .sellstatus8,
  .spielplan-event .sellstatus9,
  .spielplan-event .sellstatus10,
  .spielplan-event .sellstatus11,
  .spielplan-event .sellstatus12,
  .spielplan-event .sellstatus13,
  .spielplan-event .sellstatus14,
  .spielplan-event .sellstatus15,
  .spielplan-event .sellstatus16 {
    font-size: 15px !important;
  }
  .programm-besetzung .programm-besetzung-name {
    font-size: 24px !important;
    line-height: 30px !important;
  }
  .programm-besetzung {
    width: 39mm;
    height: 80mm;
    margin: 3mm;
  }
  .programm-besetzung .programm-besetzung-img {
    height: 36mm;
    overflow: hidden;
  }
  .programm-besetzung:nth-of-type(12) {
    page-break-after: always;
  }
  footer {
    width: 180mm;
    padding: 0;
    text-align: left;
    background: #ffffff;
    margin: 0 auto;
  }
  .startseite-event {
    width: 80mm;
    margin: 5mm;
  }
  .startseite-event img {
    width: 80mm;
    height: auto;
    margin-bottom: 0;
  }
  .startseite-event .startseite-event-img-wrapper {
    height: auto;
  }
  /*
	 * Top arrow on event schedule
	 */
  .toTop {
    display: none !important;
  }
  .noprint {
    display: none !important;
  }
  #filter-title.noprint {
    display: none !important;
  }
  .extendable {
    display: block !important;
  }
  .clickable .foldout {
    display: none !important;
  }
}
