@media (max-width: 990px) {
  .content-wrapper {
    width: 720px;
  }
  .content-wrapper h1,
  .content-wrapper h2,
  .content-wrapper h3,
  .content-wrapper h4,
  .content-wrapper p {
    max-width: 720px;
  }
  #section {
    height: 80px;
  }
  #section-ballett,
  #section-staatsorchester {
    display: none;
  }
  .text-left {
    float: left;
    width: 340px;
    min-height: 356px;
  }
  .img-right {
    float: right;
    max-width: 340px;
  }
  .img-title-right {
    float: right;
  }
  .text-right {
    float: right;
    max-width: 340px;
    min-height: 356px;
  }
  .img-left {
    float: left;
    max-width: 340px;
  }
  .img-title-left {
    float: left;
    margin-left: 0 !important;
  }
  .img-big {
    max-width: 680px;
    margin: 0 20px 45px 20px;
  }
  .img-title {
    width: 340px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .text-text {
    width: 345px;
    float: left;
  }
  .text-text:first-child {
    margin-right: 30px;
  }
  #search-overlay {
    margin-top: 175px;
  }
  .search-icon img {
    margin-top: -15px;
  }
  nav {
    height: 175px;
  }
  nav ul {
    display: none;
  }
  nav ul li a {
    margin: 18px 10px 18px 0px;
  }
  nav ul li a img {
    width: auto;
    margin-top: -15px;
  }
  nav ul li:nth-of-type(2) {
    margin-right: 100px;
  }
  nav #mobile-nav {
    display: block;
    width: 600px;
    text-align: right;
  }
  div.stopernav {
    display: none;
  }
  #page-nav {
    display: none;
  }
  #subnav {
    margin-top: 0px;
    font-size: 30px;
    background: #ccc49a;
    font-size: 27px;
  }
  #subnav ul {
    width: 720px;
    margin: auto;
  }
  #subnav ul:first-of-type {
    display: none;
  }
  #subnav ul li {
    display: inline-block;
  }
  #subnav ul li a {
    margin: 18px auto;
    color: #ffffff;
    text-decoration: none;
  }
  #subnav ul li a:hover {
    color: #d21a1a !important;
  }
  #subnav ul li .subnav-active {
    color: #7e7e7e;
  }
  #sub-mobile-nav,
  #sub-mobile-nav-list {
    display: block;
  }
  #sub-mobile-nav {
    text-align: center;
    margin-bottom: 0;
  }
  #sub-mobile-nav:hover {
    cursor: pointer;
  }
  #sub-mobile-nav p {
    font-size: 30px;
    margin-bottom: 0;
    padding: 15px 0;
  }
  #sub-mobile-nav-list {
    padding: 20px 0;
    width: 718px;
    position: absolute;
    z-index: 999;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    display: none;
  }
  #sub-mobile-nav-list a {
    display: block;
    padding: 20px 0;
    color: #000 !important;
  }
  #sub-mobile-nav-list a:hover {
    color: #d21a1a;
  }
  #sub-mobile-nav-list ul {
    display: block !important;
  }
  #sub-mobile-nav-list ul li {
    display: block;
  }
  #programm-nav,
  .programm-details-arrow_box,
  .programm-besetzung-arrow_box,
  .programm-weiteres-arrow_box {
    display: none;
  }
  #programm-mobile-nav,
  #programm-mobile-nav-list {
    display: block;
  }
  #programm-mobile-nav {
    text-align: center;
    margin-bottom: 20px;
  }
  #programm-mobile-nav:hover {
    cursor: pointer;
  }
  #programm-mobile-nav p {
    font-size: 30px;
    margin-bottom: 5px;
  }
  #programm-nav,
  #page-nav {
    width: 100%;
    max-width: 720px;
    background: #fff;
    display: none;
    margin-bottom: 50px;
    border-bottom: none;
    margin-top: 0;
  }
  #programm-nav ul,
  #page-nav ul {
    list-style: none;
    text-align: center;
    margin: 0 !important;
  }
  #programm-nav li,
  #page-nav li {
    display: block;
    text-align: center;
    margin: 0;
  }
  #programm-nav li a,
  #page-nav li a {
    margin: 0 !important;
    display: block;
    width: 100%;
    padding: 8px 0;
    color: #000;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
  #programm-nav li:first-of-type a,
  #page-nav li:first-of-type a {
    margin: 0 !important;
  }
  #programm-nav li.active a:after,
  #page-nav li.active a:after,
  #programm-nav li.active a:before,
  #page-nav li.active a:before {
    display: none;
  }
  #programm-nav li:last-of-type {
    position: static;
  }
  #section-staatsoper,
  #section-jung {
    width: 20%;
    margin-left: 20px;
  }
  header {
    height: 333px;
  }
  #header-slider {
    width: 720px !important;
  }
  #header-slider img {
    width: 100% !important;
  }
  #header-map {
    width: 720px;
    height: 333px;
  }
  #filter-title,
  #filter-title-2 {
    width: 345px;
  }
  #filter-title p,
  #filter-title-2 p {
    font-size: 30px;
  }
  #filter-options {
    margin-top: 30px;
  }
  .filter-select {
    position: relative;
    width: 610px;
    min-height: 28px;
    padding: 13px;
  }
  .filter-select:hover {
    cursor: pointer;
  }
  .filter-select p {
    font-size: 28px;
    margin: 0;
  }
  .filter-select img {
    position: absolute;
    right: 12px;
    top: 12px;
    margin-left: 12px;
  }
  .select-list-1,
  .select-list-2,
  .select-list-3,
  .select-list-4 {
    width: 598px;
    margin-left: -13px;
    margin-top: 60px;
  }
  .startseite-event {
    width: 483px;
    margin: 20px auto 30px auto !important;
    float: none;
  }
  .startseite-event img {
    max-width: 720px;
    height: auto;
  }
  .startseite-event a img {
    float: none;
    margin-left: 0;
    width: auto;
  }
  .startseite-event:nth-of-type(4) {
    margin-top: 0;
  }
  .startseite-event p {
    max-width: 484px;
    margin-left: 0;
  }
  .startseite-event-img-wrapper {
    width: 483px;
    height: 223px;
    overflow: hidden;
    /*margin-bottom: 20px;*/
    margin-left: 0;
  }
  .startseite-event-title2 {
    position: relative;
    padding-top: 8px;
    padding-right: 40px;
    box-sizing: border-box;
    max-width: 100% !important;
  }
  .startseite-event-artist2 {
    box-sizing: border-box;
    padding-right: 60px;
  }
  .startseite-event-link {
    right: 0 !important;
    bottom: -5px;
  }
  .filter-select-box p {
    max-width: 93%;
  }
  .spielplan-event > div {
    padding: 15px;
  }
  .spielplan-event > div img {
    margin-right: 20px;
  }
  .spielplan-event > div p:last-of-type {
    padding-right: 60px;
  }
  .spielplan-title {
    max-width: 600px !important;
  }
  .spielplan-event p.besetzung {
    font-size: 16px;
    line-height: 26px;
  }
  .spielplan-date {
    margin-right: 0;
    margin-top: 45px;
  }
  .spielplan-location {
    clear: both;
  }
  .spielplan-mobile-nav-list ul {
    text-align: left;
    width: 250px;
    float: left;
    padding-left: 100px;
  }
  .spielplan-calendar-month:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .programm-empfohlen {
    width: 308px;
    margin: 0 40px 0 0;
  }
  .programm-empfohlen-center {
    margin: 0 0 0 20px;
  }
  .photocredit {
    display: block;
  }
  .gallery {
    width: 720px;
    margin: auto;
    margin-bottom: 50px;
  }
  .gallery img {
    width: 350px;
  }
  .gallery a:first-of-type img,
  .gallery a:last-of-type img {
    display: block;
  }
  .gallery a.gallery-arrow-left {
    left: -20px;
  }
  .gallery a.gallery-arrow-right {
    right: -20px !important;
  }
  .gallery .lightbox-gallery {
    width: 720px;
    margin-left: -80px;
    /*
			a:last-of-type {
				display: none !important;
			}
			a .img-gallery-center {
				margin: 0 0 0 80px !important;
			}
			*/
  }
  .gallery .lightbox-gallery img {
    margin: 0 0 0 80px;
  }
  .recommendations a.gallery-arrow-left,
  .recommendations a.gallery-arrow-right {
    display: none;
  }
  .kartenkauf-select {
    width: 688px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #online-kartenkauf p {
    margin-bottom: 20px;
  }
  #online-kartenkauf form {
    width: 680px !important;
  }
  .kartenkauf-select-list {
    width: 648px;
    margin-left: 0;
    margin-top: 126px;
  }
  #ihre-meinung input {
    width: 608px !important;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  #ihre-meinung textarea {
    width: 608px !important;
    margin: 20px 0 20px 20px !important;
  }
  #ihre-meinung .form-button {
    width: auto !important;
    height: auto;
    border: none;
    margin-left: 0;
  }
  #suchergebnisse {
    max-width: 840px;
  }
  #suchergebnisse img {
    float: left;
    margin-top: 45px;
  }
  #suchergebnisse a {
    height: 36px;
    line-height: 35px;
    width: 650px;
    float: left;
    font-size: 25px;
    margin-left: 20px;
    text-decoration: underline;
    margin-top: 45px;
  }
  .pressebild h2,
  .pressebild p {
    width: 300px;
  }
  .pressebild p {
    margin-bottom: 10px;
  }
  .pressebild .showImg {
    margin-top: 0;
  }
  .pressealbum .pressealbum-bild {
    width: 220px;
    min-height: 280px;
  }
  .job h2,
  .job p,
  .job a {
    width: 600px;
  }
  footer ul {
    max-width: 660px;
    margin: auto;
  }
  footer ul li {
    margin-bottom: 20px;
  }
  #hotline {
    font-size: 30px;
    margin: 20px 0 30px 0;
  }
  #hh-buehnen {
    margin-top: 15px;
  }
  .overv_container {
    overflow: hidden;
  }
  .overv_container p {
    max-width: 645px;
  }
  .overv_container p .spielplan-arrow-left {
    bottom: -10px;
  }
  .overv_container .overv_premiere,
  .overv_container .overv_next,
  .overv_container .overv_nomore {
    width: 100%;
    max-width: 650px;
  }
  .overv_container .overv_next,
  .overv_container .overv_nomore {
    margin: 35px 0 5px 20px;
  }
  .overv_container .overv_premiere {
    margin-bottom: -25px;
  }
  .printPage {
    height: inherit;
  }
  .printPage a img {
    margin-right: 20px;
  }
  .calendar-printmonth {
    margin-right: 20px;
  }
  table {
    font-size: 22px;
  }
}
@media (max-width: 990px) and (max-width: 525px) {
  .gallery a.gallery-arrow-left {
    left: 5px;
  }
}
@media (max-width: 990px) and (max-width: 525px) {
  .gallery a.gallery-arrow-right {
    right: 5px !important;
  }
}
