/* This is how you would create a custom secondary theme on top of tooltipster-shadow: */

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-box {
	background: rgba(204, 196, 154, 0.8);
	background: #ccc49a;
	border: 3px solid #ccc49a;
	border-radius: 0px;
	box-shadow: none;
	max-width: 350px;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-content {
	color: black;
	font-size: 15px;
	line-height: 16px;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-arrow-border {
	border-bottom-color: #ccc49a;
	border-top-color: #ccc49a;
}
